/*------------- 产品-案例列表--案例详情banner start -------------*/

.banner {
	width: 100%;
	min-width: 1200px;
}

.banner img {
	width: 100%;
	min-width: 1200px;
}


/*------------- 产品-案例列表--案例详情banner end -------------*/


/*------------- 产品-案例列表--案例详情wrapper start -------------*/

.case-detail-wrapper {
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
}

.case-detail-route a{
	font-size: 14px;
}
.case-detail-route .link-jump {
	display: inline-block;
	width: 6px;
	height: 10px;
	background: url(../common/img/link-jump.png) center center no-repeat;
	background-size: cover;
	margin: 0 8px;
}

.case-detail-route .goods-link {
	color: #999999;
}

.case-detail-route .case-link {
	color: #4A4A4A;
}

.case-detail-route {
	padding: 36px 0 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.case-detail-dominant{
	width: 100%;
	height: 410px;
	padding: 20px;
	box-sizing: border-box;
	background: #F8F8F8;
	box-shadow: inset 0 1px 0 0 #DEDEDE, inset -1px 0 0 0 #DEDEDE, inset 1px 0 0 0 #DEDEDE, inset 0 -1px 0 0 #DEDEDE;
	display: flex;
	flex-direction: row;
}
.case-detail-dominant-img{
	width: 506px;
	padding-right: 30px;
}
.case-detail-dominant-txt{
	flex: 1;
}
.case-detail-dominant-img .show-box{
	width: 100%;
	height: 300px;
}
.case-detail-dominant-img .show-box img{
	width: 100%;
	height: 100%;
}
.case-detail-dominant-img .swiper-container{
	width: 100%;
	height: 60px;
	margin-top: 10px;
}
.case-detail-dominant-img .swiper-container .swiper-wrapper li{
	width: 96px;
	height: 100%;
}
.case-detail-dominant-img .swiper-container .swiper-wrapper li img{
	width: 100%;
	height: 100%;
}
.swiper-button-prev{
	left: -25px;
	top: 0;
	width: 20px;
	transition: all .5s; 
	margin-top: 0;
	height: 100%;
	background:url(../common/img/pre.png) center center no-repeat rgba(0,0,0,.5);
	background-size: 9.5px 20px;
}
#img_list:hover .swiper-button-prev{
	left: 0px;
}
.swiper-button-next{
	right: -25px;
	top: 0;
	width: 20px;
	transition: all .3s; 
	margin-top: 0;
	height: 100%;
	background:url(../common/img/next.png) center center no-repeat rgba(0,0,0,.5);
	background-size: 10px 25px;
}
#img_list:hover .swiper-button-next{
	right: 0px;
}
.swiper-button-disabled{
	
}

.case-detail-dominant-txt h2{
	font-size: 22px;
	color: #4A4A4A;
	line-height: 32px;
	font-weight: normal;
}
.case-detail-style{
	display: flex;
	flex-direction: row;
	margin-top: 28px;
}
.case-detail-style li{
	display: inline-block;
	background: #5F656A;
	border-radius: 19px;
	padding: 0 12px;
	line-height: 28px;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 300;
	margin-right: 12px;
	
}
.case-detail-dominant-txt div{
	display: flex;
	flex-direction: row;
}
.case-detail-dominant-txt .quarters{
	margin-top: 54px;
}
.case-detail-dominant-txt .address{
	margin-top: 5px;
	
}
.case-detail-dominant-txt .description{
	margin-top: 30px;
	
}
.case-detail-dominant-txt div span{
	display: block;
	font-size: 16px;
	color: #4A4A4A;
	line-height: 24px;
}
.case-detail-dominant-txt div span:nth-child(1){
	width: 80px;
	text-align: right;
}
.case-detail-dominant-txt div span:nth-child(2){
	flex: 1;
}
.case-detail-info{
	width: 100%;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
}
.case-detail-info-left{
	width: 956px;
	position: relative;
	background: #FFFFFF;
	margin-right: 20px;
	box-shadow: inset -1px 0 0 0 #DEDEDE, inset 1px 0 0 0 #DEDEDE, inset 0 -1px 0 0 #DEDEDE;
}

.case-detail-info-left .info-left-nav{
	width: 100%;
	height: 50px;
	background: #F8F8F8;
	display: flex;
	flex-direction: row;
	box-shadow: inset 0 2px 0 0 #DEDEDE, inset -1px 0 0 0 #DEDEDE, inset 0 -1px 0 0 #DEDEDE;		
	
}
.case-detail-info-left .info-left-nav li{
	width: 140px;
	height: 100%;
	line-height: 50px;
	font-size: 18px;
	transition: all .3s;
	color: #4A4A4A;
	cursor: pointer;
	text-align: center;
}
.case-detail-info-left .info-left-nav li.select{
	color: #E42824;
}
.case-detail-info-left .nav-slider{
	width: 140px;
	height: 2px;
	transition: all .3s;
	background: #E42824;
	position: absolute;
	top: 0;
	left: 0;
}

.info-left-content .info-left-content-li{
	display: none;
	transition: all .3s;
}
.info-left-content{
	padding-top: 30px;
}
.info-left-content .case-detail{
	display: block;
}
.case-detail-title{
	width: 158px;
	display: flex;
	flex-direction: row;
}
.case-detail-title span{
	height: 44px;
}
.case-detail-title span:nth-child(1){
	width: 54px;
	background: url(../common/img/case-detail-icon.png) center center no-repeat #E27575;
	background-size: 24px 24px;
}
.case-detail-title span:nth-child(2){
	width: 104px;
	background: #B74E4B;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 44px;
	text-align: center;
}
.case-detail-massage{
	padding: 20px;
}
.case-detail-massage-info p{
	font-size: 14px;
	color: #4A4A4A;
	line-height: 24px;
}
.case-detail-massage-info .info-list{
	width: 100%;
	margin-top: 23px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.case-detail-massage-info .info-list li{
	width: 50%;
	line-height: 28px;
	padding-left: 20px;
	box-sizing: border-box;
	font-size: 14px;
	color: #999999;
}
.case-detail-massage-info .info-list li span{
	color: #666666;
}
.case-detail-massage-pic{
	margin-top: 26px;
}
.case-detail-massage-pic p{
	font-size: 16px;
	color: #444444;
	line-height: 22px;
	margin-bottom: 25px;
}
.case-detail-massage-pic p a{
	display: block;
	margin: 12px 0;
	text-decoration: none;
}
.case-detail-massage-pic p span{
	display: block;
	margin: 12px 0;
	padding: 0 20px;
}
.case-detail-massage-pic p img{
	width: 100%;
}

.single-product-introduction .introduction-title{
	width: 158px;
	display: flex;
	flex-direction: row;
}

.single-product-introduction .introduction-title span{
	height: 44px;
}
.single-product-introduction .introduction-title span:nth-child(1){
	width: 54px;
	background: url(../common/img/single-product.png) center center no-repeat #E27575;
	background-size: 24px 24px;
}
.single-product-introduction .introduction-title span:nth-child(2){
	width: 104px;
	background: #B74E4B;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 44px;
	text-align: center;
}
.single-product-introduction .introduction-list{
	padding: 30px;
}
.introduction-list-single{
	border-bottom: 1px solid #DEDEDE;
	margin-bottom: 30px;
}
.introduction-list-single:last-child{
	border-bottom: 0;
	margin-bottom: 0;
}
.introduction-list-single h3{
	font-size: 16px;
	color: #444444;
	line-height: 22px;
	margin-bottom: 12px;
	font-weight: normal;
}
.introduction-list-single ul li{
	width: 100%;
	position: relative;
	margin-bottom: 22px;
}
.introduction-list-single ul li i{
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 4px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.introduction-list-single .product-info{
	width: 100%;
	box-sizing: border-box;
	padding-left: 230px;
	height: 200px;
}
.introduction-list-single .product-info h2{
	font-size: 16px;
	color: #444444;
	line-height: 22px;
	font-weight: normal;
	margin-bottom: 9px;
}
.introduction-list-single .product-info div{
	font-size: 14px;
	color: #999999;
	line-height: 28px;
}
.introduction-list-single .product-info div span{
	color: #666666;
	margin-left: 10px;
}


.after-service-title{
	width: 158px;
	display: flex;
	flex-direction: row;
}
.after-service-title span{
	height: 44px;
}
.after-service-title span:nth-child(1){
	width: 54px;
	background: url(../common/img/case-detail-icon.png) center center no-repeat #E27575;
	background-size: 24px 24px;
}
.after-service-title span:nth-child(2){
	width: 104px;
	background: #B74E4B;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 44px;
	text-align: center;
}
.after-service-content{
	padding: 30px 110px 30px 38px;
}
.after-service-content h2{
	text-align: center;
	margin: 0 auto;
	font-size: 24px;
	color: #933B39;
	line-height: 33px;
	font-weight: normal;
	position: relative;
}
.after-service-content h2:before{
	content: '';
	width: 250px;
	height: 3px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0px;
	margin: auto;
	z-index: 999;
	border-bottom: 4px #999 dotted;
	border-top: 4px #999 dotted;
}
.after-service-content h2:after{
	content: '';
	width: 250px;
	height: 3px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0px;
	margin: auto;
	z-index: 999;
	border-bottom: 4px #999 dotted;
	border-top: 4px #999 dotted;
}
.after-service-content .icon-txt{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 15px;
}
.after-service-content .icon-txt span{
	padding-left: 28px;
	font-size: 14px;
	color: #5F656A;
	margin-left: 27px;
	line-height: 24px;
	background: url(../common/img/after-icon.png) left center no-repeat;
	background-size: 20px 20px;
}
.after-service-content .ensure{
	margin-top: 30px;
}
.after-service-content .ensure h1{
	margin-top: 20px;
	font-size: 24px;
	color: #933B39;
	font-weight: normal;
	line-height: 33px;
}
.after-service-content .ensure p{
	font-size: 24px;
	color: #999999;
	line-height: 33px;
	margin-top: 11px;
	font-weight: 300;
	padding-bottom: 18px;
	border-bottom: 2px dashed #999999;
}
.after-service-footer{
	margin-top: 36px;
}
.after-service-footer p:nth-child(1){
	font-size: 16px;
	color: #999999;
	line-height: 22px;
	text-align: center;
}
.after-service-footer p:nth-child(2){
	font-size: 18px;
	color: #B74E4B;
	line-height: 25px;
	text-align: center;
	margin-top: 10px;
}

.case-detail-info-right{
	flex: 1;
	height: 1000px;
	background: #FFFFFF;
}
.case-detail-info-right h3{
	font-size: 18px;
	color: #444444;
	line-height: 25px;
}
.case-detail-info-right .look-see-box{
	margin-top: 15px;
	width: 100%;
	transition: all .3s; 
	background: #FFFFFF;
	position: relative;
	border: 1px solid #DEDEDE;
	border-top: 0;
}

.case-detail-info-right .look-see-box:hover{
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);
	transform: translateY(-5px);
}
.case-detail-info-right .look-see-box a{
	display: block;
	width: 100%;
	height: 158px;
}
.case-detail-info-right .look-see-box a img{
	width: 100%;
	height: 100%;
}
.case-detail-info-right .look-see-box div{
	height: 52px;
	padding: 7px 9px;
	box-sizing: border-box;
}
.case-detail-info-right .look-see-box div h4{
	line-height: 20px;
	font-size: 14px;
	color: #4A4A4A;
}
.case-detail-info-right .look-see-box div p{
	font-size: 12px;
	color: #999999;
	line-height: 12px;
	margin-top: 5px;
}
.case-detail-bottomNav {
	width: 100%;
	margin-top: 112px;
}

.case-detail-bottomNav ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.case-detail-bottomNav ul li {
	width: 25%;
	height: 216px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.case-detail-bottomNav ul li a i {
	display: block;
	width: 98px;
	height: 98px;
	margin: 0 auto;
}

.case-detail-bottomNav ul li:nth-child(1) a i {
	background: url(../common/img/major.png) center center no-repeat;
	background-size: 54px 54px;
}
.case-detail-bottomNav ul li:nth-child(2) a i {
	background: url(../common/img/Price.png) center center no-repeat;
	background-size: 52px 52px;
}
.case-detail-bottomNav ul li:nth-child(3) a i {
	background: url(../common/img/service.png) center center no-repeat;
	background-size: 57px 48px;
}
.case-detail-bottomNav ul li:nth-child(4) a i {
	background: url(../common/img/loop.png) center center no-repeat;
	background-size: 58px 58px;
}

.case-detail-bottomNav ul li a span {
	display: block;
	margin: 20px auto 0;
	font-size: 24px;
	color: #2B2321;
}
/*------------- 产品-案例列表--案例详情wrapper end -------------*/